<template>
    <div id="fullscreen" class="h-full relative flex flex-col bg-white">
        <!-- <button @click="openFullscreen">FullScreen</button> -->
        <textarea name="" id="" class="bg-white w-full flex-1 resize-none outline-none p-8" :value="note.content" @input="updateValue($event.target.value)" placeholder="Type your note..."></textarea>
    </div>
</template>

<script>
export default {    
    props: ['note'],
    methods: {
        updateValue(value) {
            this.$emit('note-updated', value)
        },
        openFullscreen() {
            const elem = document.querySelector('textarea')
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        },
    },
    mounted() {
        return {

        }
    }
}
</script>
