<template>
<div>
    <div v-if="!dismissed" class="fixed w-full h-full top-0 left-0 z-20 flex items-center justify-center bg-black bg-opacity-20">
        <div class="p-10 max-w-2xl bg-white rounded shadow-lg relative">
            <h2 class="text-3xl font-bold mb-4">Welcome to a simple notes app</h2>
            <p class="text-xl">Entries will be saved in local browser storage and will be available on refresh within the same browser so long as you don't clear your cache.</p>
            <button @click="removeExplainer" class="absolute right-0 top-0 mt-4 mr-4">X</button>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            dismissed: false
        }
    },
    mounted() {
        if (localStorage.getItem('explainer-dismissed')) {
        try {
            this.dismissed = JSON.parse(localStorage.getItem('explainer-dismissed'))
        } catch(e) {
            localStorage.removeItem('explainer-dismissed');
        }
        }
    },
    methods: {
        removeExplainer() {
            this.dismissed = true
            localStorage.setItem('explainer-dismissed', "true")
        }
    }
}
</script>