<template>
<Explainer />
<div class="bg-gray-50 h-screen overflow-hidden">
  <div class="rounded overflow-hidden m-auto flex justify-between w-full h-full">
    <div :class="{'-translate-x-full': !mobileNavOpen}" class="bg-white transition-transform duration-300 transform overflow-y-auto fixed left-0 top-0 z-10 h-full w-full shadow md:relative md:w-1/3 md:border-r md:transform-none md:shadow-none">
          <div class="flex items-center justify-between px-3 py-6 border-b">
              <button v-if="notes.length" @click="deleteNote(activeNote.id)" class="text-red-400" title="Delete Note">
                <svg enable-background="new 0 0 512 512"
                    class="w-6 h-6 fill-current"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path
                              d="m424 64h-88v-16c0-26.51-21.49-48-48-48h-64c-26.51 0-48 21.49-48 48v16h-88c-22.091 0-40 17.909-40 40v32c0 8.837 7.163 16 16 16h384c8.837 0 16-7.163 16-16v-32c0-22.091-17.909-40-40-40zm-216-16c0-8.82 7.18-16 16-16h64c8.82 0 16 7.18 16 16v16h-96z" />
                        <path
                              d="m78.364 184c-2.855 0-5.13 2.386-4.994 5.238l13.2 277.042c1.22 25.64 22.28 45.72 47.94 45.72h242.98c25.66 0 46.72-20.08 47.94-45.72l13.2-277.042c.136-2.852-2.139-5.238-4.994-5.238zm241.636 40c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16z" />
                    </g>
                </svg>
              </button>
              <button @click="createNote" class="text-blue-500 ml-auto" title="Create Note">
                <svg class="w-6 h-6 fill-current"
                  viewBox="0 0 512 512"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0" />
                  <path fill="white" d="m368 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0" />
                </svg>
              </button>
          </div>
          <ul v-if="notes.length">
            <li v-for="note in notes" :key="note.id" :class="{'bg-blue-50': note.active}" class="w-full flex items-center border-b p-3">
              <button @click="setActiveNote(note.id), mobileNavOpen = false" class="block w-full whitespace-nowrap overflow-hidden border-0 text-left">
                <span class="block font-bold text-lg">{{ note.content ? note.content : 'New Note' }}</span>
                <span class="block">{{dateCreated(note.id) ?? ''}}</span>
              </button>
              <!-- <div class="relative">
                <button @click="deleteNote(note.id)">
                  <span class="bg-gray-600 rounded-full w-1 h-1 block"></span>
                  <span class="my-1 bg-gray-600 rounded-full w-1 h-1 block"></span>
                  <span class="bg-gray-600 rounded-full w-1 h-1 block"></span>
                </button>
              </div> -->
            </li>
          </ul>
          <div v-else class="p-10">
            <p class="text-center text-lg text-gray-600">Looks like you haven't created any notes yet.</p>
          </div>
    </div>
    <div class="w-full bg-gray-50 md:w-2/3">
        <div class="bg-white py-2 px-8 border-b md:hidden">
          <button @click="mobileNavOpen = true" class="flex items-center">
            <svg version="1.1" class="transform rotate-180 w-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068
                  c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557
                  l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104
                  c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"/>
            </svg>
          <span class="block ml-2">All Notes</span>
          </button>
        </div>
        <ActiveNote v-if="activeNote" :note="activeNote" @note-updated="updateActiveNote" @delete-note="deleteNote" @add-note="createNote" />
    </div>
  </div>
</div>
</template>

<script>
import ActiveNote from './components/ActiveNote.vue'
import Explainer from './components/Explainer.vue'

export default {
  name: 'App',
  components: {
    ActiveNote,
    Explainer
  },
  data() {
    return {
      mobileNavOpen: true,
      notes: []
    }
  },
  mounted() {
    if (localStorage.getItem('notes')) {
      try {
        this.notes = JSON.parse(localStorage.getItem('notes'));
      } catch(e) {
        localStorage.removeItem('notes');
      }
    }
  },
  watch: {
    notes() {
      const parsed = this.jsonNotes
      localStorage.setItem('notes', parsed)
    }
  },
  methods: {
    createNote() {
      const note = {
        content: '',
        id: new Date().getTime(),
        dateCreated: new Date()
      }
      this.notes.push(note)
      localStorage.setItem('notes', this.jsonNotes)
      this.setActiveNote(note.id)
      this.mobileNavOpen = false
    },
    updateActiveNote(value) {
      this.activeNote.content = value
      localStorage.setItem('notes', this.jsonNotes)
    },
    setActiveNote(id) {
      this.notes.forEach(note => {
        note.active = false
      })
      const activeNote = this.notes.find(note => note.id === id)
      activeNote.active = true
      localStorage.setItem('notes', this.jsonNotes)
    },
    deleteNote(id) {
      const newNotes = this.notes.filter(note => note.id != id)
      this.notes = newNotes
      this.notes[0].active = true
    },
    log(data) {
      console.log(data)
    }
  },
  computed: {
    jsonNotes() {
      return JSON.stringify(this.notes)
    },
    activeNote() {
      return this.notes.find(note => note.active)
    },
    dateCreated() {
      return (id) => {
        const note = this.notes.find(note => note.id === id)
        const date = note.dateCreated ? new Date(note.dateCreated).toLocaleDateString('en-US') : ''
        return date
      }
    }
  }
}
</script>